<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Url1:</strong>
  <%= @project.url1 %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @project.url2 %>
</p>

<p>
  <strong>Url3:</strong>
  <%= @project.url3 %>
</p>

<p>
  <strong>Url4:</strong>
  <%= @project.url4 %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @project.kitchen %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @project.sqft %>
</p>

<p>
  <strong>Number of cabinets:</strong>
  <%= @project.number_of_cabinets %>
</p>

<p>
  <strong>Countertop style:</strong>
  <%= @project.countertop_style %>
</p>

<p>
  <strong>Counter top length:</strong>
  <%= @project.counter_top_length %>
</p>

<p>
  <strong>Number of outlets:</strong>
  <%= @project.number_of_outlets %>
</p>

<p>
  <strong>Light fixture type:</strong>
  <%= @project.light_fixture_type %>
</p>

<p>
  <strong>Floor sqft:</strong>
  <%= @project.floor_sqft %>
</p>

<p>
  <strong>Floor type:</strong>
  <%= @project.floor_type %>
</p>

<p>
  <strong>Bath:</strong>
  <%= @project.bath %>
</p>

<p>
  <strong>Vanity width:</strong>
  <%= @project.vanity_width %>
</p>

<p>
  <strong>Tub length:</strong>
  <%= @project.tub_length %>
</p>

<p>
  <strong>Shower sqft:</strong>
  <%= @project.shower_sqft %>
</p>

<p>
  <strong>Mirror:</strong>
  <%= @project.mirror %>
</p>

<p>
  <strong>Bath fan:</strong>
  <%= @project.bath_fan %>
</p>

<p>
  <strong>Air conditioning:</strong>
  <%= @project.air_conditioning %>
</p>

<p>
  <strong>Ac type:</strong>
  <%= @project.ac_type %>
</p>

<p>
  <strong>Home sqft:</strong>
  <%= @project.home_sqft %>
</p>

<p>
  <strong>Ac size:</strong>
  <%= @project.ac_size %>
</p>

<p>
  <strong>Duct work:</strong>
  <%= @project.duct_work %>
</p>

<p>
  <strong>Roof:</strong>
  <%= @project.roof %>
</p>

<p>
  <strong>Exterior general:</strong>
  <%= @project.exterior_general %>
</p>

<p>
  <strong>More detail:</strong>
  <%= @project.more_detail %>
</p>

<p>
  <strong>Paint:</strong>
  <%= @project.paint %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @project.floor %>
</p>

<p>
  <strong>Floor demo:</strong>
  <%= @project.floor_demo %>
</p>

<p>
  <strong>Location city:</strong>
  <%= @project.location_city %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @project.ends %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @project.pool %>
</p>

<p>
  <strong>Drive way:</strong>
  <%= @project.drive_way %>
</p>

<p>
  <strong>Length:</strong>
  <%= @project.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @project.width %>
</p>

<p>
  <strong>Landscaping:</strong>
  <%= @project.landscaping %>
</p>

<p>
  <strong>Fence:</strong>
  <%= @project.fence %>
</p>

<p>
  <strong>Fence material:</strong>
  <%= @project.fence_material %>
</p>

<p>
  <strong>Windows:</strong>
  <%= @project.windows %>
</p>

<p>
  <strong>Window type:</strong>
  <%= @project.window_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @project.quantity %>
</p>

<p>
  <strong>Electrical:</strong>
  <%= @project.electrical %>
</p>

<p>
  <strong>Plumbing:</strong>
  <%= @project.plumbing %>
</p>

<p>
  <strong>Handy man:</strong>
  <%= @project.handy_man %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
