<!DOCTYPE html>
<html>
<head>
  <title>Remodeleasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>



<div id='cssmenu'>
<ul>
   <li class='active'><%= link_to 'Home', home_index_path %></li>
   <li><%= link_to 'Projects', projects_path %></li>
   <li><%= link_to 'Bids', bids_path %></li>
   <li><%= link_to 'Profile', profiles_path %></li>
   <li class='last'><%= link_to 'About', about_index_path %></li>
  <li> <% if user_signed_in? %>
   <strong class="login"> <%= current_user.try(:email)%></strong>
   <% end %>
</li>
</ul>
</div>


</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
